<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智能图书馆-人脸闸机</title>    
    <!-- 导入css样式表 -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
</head>
<body>
    <h1>人脸闸机分解案例</h1>
    <ul id="ul_samples">
        <li id="li_samples">
            <a href="sample01">案例1：HTML5 人脸图像采集</a>
            <p>
                <label id="tip">使用HTML5中的video标签用于呈现PC摄像头的实时视频数据；使用Canvas组件存放照片；使用JQuery中的Ajax异步提交上传图片到服务器。</label>
            </p>
        </li>
    </ul>
</body>
</html>